body {
    height: 100vh;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
        url("https://images.unsplash.com/photo-1619682508024-64c66726a373?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHdlYiUyMGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    /* background-color: black; */
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    /* block-size: 500px;
    margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    display: flex;
    height: 100vh;
    align-items: end;
}

.section2 img,
.section3 img {
    max-height: 500px;
    justify-content: center;
}

/* .section4 {
    
} */

h1 {
    color: #fff;
    font-size: 58px;
}

h2 {
    font-size: 38px;
    margin-bottom: 25px;
    background-color: #4b244f80;
    color: #000;
    border-radius: 2px;
}

p {
    line-height: 35px;
}

hr {
    height: 3px;
    border: none;
    width: 20%;
    margin-bottom: 25px;
}

a {
    display: inline-block;
    color: white;
    padding: 15px, 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 35px;
}

a:hover {
    color: #dc8de4;
}

#subhead {
    display: inline-block;
    background-color: #4b244f;
    margin: 5px;
    padding: 10px;
    color: black;
    border-radius: 3px;

}

.container {
    font-size: 2rem;
    /* height: 800px; */
}

nav {
    z-index: 5;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    background-color: #4b244f;
    border-radius: 2px;
    color: black;
    margin-right: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    background-color: none;
    color: white;
}

.client-area {
    padding: 137px 0 0;
}

#sliderSection {
    display: inline;
}

.slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

/* .btn-secondary {
    color: white;
    text-shadow: none;
}

.btn-secondary:hover {
    color: white;
    text-shadow: none;
    background-color: rgba(255, 255, 255, 0.5)
} */
