/* body {
    font-family: Helvetica, Arial, sans-serif;
    color: #83caff;
    background-color:#000;
  } */

.logo {
    font-size: 2em;
    padding: 0 0.3em;
    display: block;
    float: left;
    color: #4b244f;
    border-radius: 3px;
}

.firstName {
    font-size: 5em;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 36, 79, 1) 35%, rgba(255, 255, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: #000;
        border-radius: 3px;
}

.lastName {
    font-size: 5em;
    background-color: transparent;
    color: #4b244f;
        border-radius: 3px;
}

/* Set vendor-specific animation name and duration on .logo class */

.logo {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 3s;
    -moz-animation-name: fadein;
    -moz-animation-duration: 3s;
    -ms-animation-name: fadein;
    -ms-animation-duration: 3s;
    -o-animation-name: fadein;
    -o-animation-duration: 3s;
    animation-name: fadein;
    animation-duration: 3s;
}

/* Set vendor-specific keyframes for animation on load 
     Position and opacity are animated */

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
        margin-left: -250px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-moz-keyframes fadein {
    0% {
        opacity: 0;
        margin-left: -250px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-ms-keyframes fadein {
    0% {
        opacity: 0;
        margin-left: -250px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@-o-keyframes fadein {
    0% {
        opacity: 0;
        margin-left: -250px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        margin-left: -250px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}
